
    <div class="container text-center" style="padding-top: 10px;">
        <h2 class="pt-4 pb-1">Datos del Solicitante</h2>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col">
                <div class="form-group">
                    <label for="text">Nombre:</label>
                    <input type="text" class="form-control"  name="nombre" placeholder="Vatos locos">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="text">Ciudad:</label>
                    <input type="text" class="form-control"  name="apodo" placeholder="Apodaca">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="text">Estado:</label>
                    <input type="text" class="form-control" name="apodo" placeholder="Nuevo Leon">
                </div>
            </div>
        </div>    
        <div class="row" style="padding-top: 10px;">
            <div class="col" style="text-align: center !important;"><button type="button" class="btn btn-warning" (click)="navigateToInicio()">Cancelar</button></div>
            <div class="col" style="text-align: center !important;" ><button type="submit" class="btn btn-primary" >Guardar</button></div>
        </div>  
    </div>
